# development : Sedang Dalam Perbaikan
# production: Website live

APP_NAME="indonesia Tour Guide"
APP_BASE_URL="http://localhost/indonesiatourguide/public"
APP_TIMEZONE="Asia/Makassar"
APP_ENV="production"
   
DB_HOST="127.0.0.1"
DB_NAME="global_travel_hub"
DB_USER="root"
DB_PASS="CDP17s1850913#^_^"
DB_CHARSET="utf8mb4"